/*imagem do golden*/
.golden{
    border-radius: 20px;
}

/*div com conteudo*/
.conteudo1 {
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 30px;
    margin-top: 3px;
    background-image: url(assets/noticia1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.conteudo2 {
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 30px;
    margin-top: 3px;
    background-image: url(assets/noticia2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block
}

.conteudo3 {
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 20px;
    margin-top: 3px;
    background-image: url(assets/noticia3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.conteudo4  {
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 20px;
    margin-top: 3px;
    background-image: url(assets/noticia4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.conteudo5 {
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 20px;
    margin-top: 3px;
    background-image: url(assets/noticia5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.conteudo6{
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 20px;
    background-image: url(assets/culinaria1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.conteudo7{
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 20px;
    background-image: url(assets/culinaria2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.conteudo8 {
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 20px;
    background-image: url(assets/noticia6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.conteudo9 {
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 20px;
    background-image: url(assets/conteudo9.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.conteudo10 {
    width: 200px;
    height: 200px;
    float: left;
    border: 2px solid black;
    margin: 20px;
    background-image: url(assets/conteudo10.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#body {
    background-color: rgb(56, 55, 55);
}

.bombeiros {
    width: 200px;
    height: 80px;
    margin: 30px;
    text-align: justify;

}

#bombeiros {
    color: white;
}

.chuvas {
    width: 200px;
    height: 80px;
    margin: 30px;
    text-align: justify;
}